

#hotelDetail{
    display: flex;
    height: 400px;
     justify-content: center;
     margin-right: 1.5%;
     margin-top: 20px;
}

#imageDiv{
    display: flex;
    border: 1px solid black;
    width: 67%;
    justify-content: center;
    margin-left: 25px;
    margin-top: 30px;
}

.hotelImage{
    height: 345px;
    width: 60%;
    margin-top: 12px;
}



#form{
    display: flex;
    width: 33%;
    padding: 0 ;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    margin-top:30px;
    border-width:1px 1px 1px 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }

  .inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 10px;
  }

  .inputs> input{
    width: 55%;
  
  }
  #submitButton{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #submitButton button{
    padding: 2%;
  }
  #services{
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 15px;
  }

  
  