
#hotelDetail{
    background-color:  rgb(132,136,139);
    display:flex;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 6%;
    width: 50%;
    max-height: 300px;
}
.image{
    width: 270px;
    max-height: 200px;
}
#address{
    padding-left: 3%;
    padding-top: 25px;
}

#payment{
    height: 170px;
    display: flex;
  align-items: center;
  justify-content: space-evenly;
    border: 1px solid black;
    margin: 2%;
    margin-bottom: 7%;
    border-radius: 5px;
    background-color: rosybrown;

}
#customerDetails{
    margin-top: 1%;
}

#payment strong{
    font-family: cursive;
}